{% extends "layout.html" %}
{% block content %}
<style type="text/css">
    html,body{
        background-image: url("{{url_for('views.static',filename='images/background.jpg')}}");
    }
</style>
<div class="container-fluid" >
    <div class="row" style="padding-top: 5rem;">
        <div class="col-md-5 offset-1">
            <p style="font-size: 60pt; color:#cec7c7; word-spacing: 0%;">Spotify Recommender System</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-1">
            <!-- <a class="btn btn-light" href="#" role="button">Try it out!</a> -->
            <a class="btn btn-outline-light btn-lg" href="{{url_for('views.authorization')}}" role="button" style="font-size:20pt;  color: #cec7c7; border-color:#cec7c7; border-width: 2pt;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                Try it out!
            </a>
            <!-- <button type="button" class="btn btn-dark">Dark</button> -->
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2 offset-1 ">
            <a href="https://github.com/leonleitao/spotify_recommender_system"><i class="fab fa fa-github fa-2x" style="color: #cec7c7; padding-left: 2rem;"></i></a>
            <a href="https://www.linkedin.com/in/leon-leitao-655548129/"><i class="fab fa fa-linkedin fa-2x" style="color: #cec7c7;padding-left: 1rem;"></i></a>
        </div>
    </div>
    
</div>

{% endblock %}